<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %}Home Page{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}">
</head>
<body>
    <ul>
    <li><a href="{{ url_for('home_page') }}">Home</a></li>
    {% if request.cookies.get('remember_token') %}
        <li><a href="{{ url_for('owner_register') }}">Owner Register</a></li>
        <li><a href="{{ url_for('vet_register') }}">Vet Register</a></li>
        <li><a href="{{ url_for('logout_page') }}">Log Out</a></li>
    {% else %}
        <li><a href="{{ url_for('login_page') }}">Log In</a></li>
    {% endif %}
    </ul>
    <div>
    </div>
    <div>
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if not messages %}
        <p>Welcome to the Vet App.</p>
    {% endif %}
    {% endwith %}
{% endblock %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      <h1>{{ message }}</h1>
    {% endfor %}
  {% endif %}
{% endwith %}
    </div>
    <div>
    </div>
</body>
</html>