{% extends "base.html" %}
{% block title %}Owner Profile{% endblock %}
{% block content %}
    {% if owner %}
     <label>
            <form action="{{ url_for('ownersapi', phonenumber = owner.phonenumber) }}" method="post">
                <label for="name">Name</label><br>
                <input type="text" name="name" id="name" required="required" value="{{ owner.name }}"><br>
                <label for="age">Age</label><br>
                <select id="age" name="age" required="required">
                {% for opt in range(13,81) %}
                    <option value="{{ opt }}" {% if owner.age == opt %} selected="selected"{% endif %}>{{ opt }}</option>
                {% endfor %}
                </select><br>
               <label for="address">Address</label><br>
                <input type="text" name="address" id="address" required="required" value="{{ owner.address }}"><br>
                <label for="gender">Gender</label><br>
                <select id="gender" name="gender">
                {% for opt in ['Male', 'Female', 'Other'] %}
                    <option value="{{ opt }}" {% if owner.gender == opt %} selected="selected"{% endif %}>{{ opt }}</option>
                {% endfor %}
                </select><br>
                <label for="treatments">Treatments</label><br>
                <input type="text" name="treatments" id="treatments" required="required" value="{{ owner.treatments }}"><br>
            <input type="submit" name="_method" value="Update">
            </form>
            <form action="{{ url_for('ownersapi', phonenumber = owner.phonenumber) }}" method="post">
                <input type="submit" style="background-color: red" name="_method" value="Delete">
            </form>
        </label>
    {% endif %}
    <label> Add Vet To Owner</label>
    <form action="{{ url_for('vetsownerslist')}}" method="post">
    {% if vet_list %}
        <label for="vet_id"> Vets</label>
        <select id="vet_id" name="vet_id">
        {% for vet in vet_list %}
            <option value="{{ vet.id }}">{{ vet.name }}</option>
        {% endfor %}
        </select><br>
    {% endif %}
        <input type="hidden" id="owner_phone" name="owner_phone" value="{{ owner.phonenumber }}" >
        <input type="submit" value="Add">
    </form>
{% endblock %}
