{% extends "base.html" %}
{% block title %}Vet Register Page{% endblock %}
{% block content %}
    <h1 class="title">Vets</h1>
        <label>
            <form action="{{ url_for('vetslistapi') }}" method="post">
                <label for="name">Name</label><br>
                <input type="text" name="name" id="name" required="required"><br>
                <label for="age">Age</label><br>
                <select id="age" name="age" required="required">
                {% for opt in range(13,81) %}
                    <option value="{{ opt }}" >{{ opt }}</option>
                {% endfor %}
                </select><br>
               <label for="address">Address</label><br>
                <input type="text" name="address" id="address" required="required"><br>
               <label for="gender">Gender</label><br>
                <select id="gender" name="gender" required="required">
                {% for opt in ['Male', 'Female', 'Other'] %}
                    <option value="{{ opt }}" >{{ opt }}</option>
                {% endfor %}
                </select><br>
                <label for="profession">Profession</label><br>
                <select id="profession" name="profession" required="required">
                {% for opt in ['Pet', 'Other'] %}
                    <option value="{{ opt }}" >{{ opt }}</option>
                {% endfor %}
                </select><br>
            <input type="submit" value="submit">
            </form>
        </label>
{% endblock %}
